{% extends "layout.html" %}
{% block heading %}
      Second Page
  {% endblock %}
  {% block body %}
<p>hello second page<a href="{{url_for('index')}}">index...</a></p>
{% endblock %}
</body>
</html>

Pedestrian Detection 
Now the number of vehicles gradually is increasing in the community, so the possibility of a car accident is also increasing. But if the vehicle can detect pedestrians and issue warnings early, the number of accidents will be reduced greatly
rs=db.execute("SELECT * from login WHERE username='{ POST_USERNAME }' password='{ POST_PASSWORD }'").fetchall()